.about {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .about {
      min-height: 100vh;
      display: absolute;
      top: 50%;
    }
  }
  